<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="elstar IT Logo"
       src="../assets/images/ElstarLogo.png">
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">Preferences</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="profile" aria-selected="false">Suggestions</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane tab-body fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
    <button class="btn btn-primary button-margin" title="load preferences"
            (click)="loadPreferences()">Load preferences
    </button>
    <div class="card" *ngFor="let preference of preferences">
      <div class="card-body">
        <h5 class="card-title">{{preference.userid}}</h5>
        <strong>topics</strong>
        <ul>
          <li *ngFor="let topic of preference.topics">
            <span class="badge">{{topic.name}}</span>
        </ul>
        <div>{{preference.created}}</div>
        <div>{{preference.modified}}</div>
        <button class="btn btn-danger float-right" title="delete preference"
                (click)="deletePreference(preference)">Delete
        </button>
      </div>
    </div>
  </div>
  <div class="tab-pane tab-body fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-primary button-margin" title="reload topics"
            (click)="loadTopics()">Reload Topics
    </button>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create topic</h5>
        <label>name:
          <input #topicName
                 (keyup.enter)="createTopic(topicName.value)"
                 (blur)="createTopic(topicName.value); topicName.value='' ">

          <button (click)="createTopic(topicName.value)">Add</button>
        </label>
      </div>
    </div>
    <div class="card" *ngFor="let topic of topics">
      <div class="card-body">
        <h5 class="card-title">{{topic.name}}</h5>
        <strong>details</strong>
        <div>{{topic.id}}</div>
        <div>{{topic.created}}</div>
        <div>{{topic.modified}}</div>
        <button class="btn btn-danger float-right" title="delete topic"
                (click)="deleteTopic(topic)">Delete
        </button>
      </div>
    </div>
  </div>

  <!-- Suggestion Tab -->
  <div class="tab-pane tab-body fade" id="tab3" role="tabpanel" aria-labelledby="profile-tab">
    <button class="btn btn-primary button-margin" title="reload suggestions"
            (click)="loadSuggestions()">Reload Suggestion
    </button>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create suggestion</h5>
        <label>name:
          <input #suggestionName
                 (keyup.enter)="createSuggestion(suggestionName.value)"
                 (blur)="createSuggestion(suggestionName.value); suggestionName.value='' ">

          <button (click)="createSuggestion(suggestionName.value)">Add</button>
        </label>
      </div>
    </div>
    <div class="card" *ngFor="let suggestion of suggestions">
      <div class="card-body">
        <h5 class="card-title">{{suggestion.name}}</h5>
        <strong>details</strong>
        <div>{{suggestion.id}}</div>
        <div>{{suggestion.created}}</div>
        <div>{{suggestion.modified}}</div>
        <button class="btn btn-danger float-right" title="delete suggestion"
                (click)="deleteSuggestion(suggestion)">Delete
        </button>
      </div>
    </div>
  </div>
</div>

